.carousel {
	overflow-x: hidden;
	position: relative;
	margin-bottom: 1rem;
	
	@include for-size(tablet-landscape-up) {
		max-width: 60rem;
		margin: 0 auto 4rem;
	}
	
	--selected-index: 0;
	.carousel__image-container {
        transform: translateX(calc(var(--selected-index) * -100%));
    }
	
	&__image-container {
		aspect-ratio: 1.3333;
		height: 100%;
		display: flex;
		transition: transform 0.3s;
	}

	&__interface {
		position: absolute;
		height: calc(100% - 2.25rem);
		width: 10%;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		opacity: 0.125;
		transition: opacity 0.16s;

		&:hover {
			opacity: 0.25;
		}

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}

	&__interface-button {
		width: 4rem;
		aspect-ratio: 1;
		background-color: black;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 1rem;
		user-select: none;
		letter-spacing: -0.25rem;

		@include for-size(tablet-landscape-up) {
			font-size: 2rem;
		}	
	}

	&__progress-container {
		padding-top: 1rem;
		padding-bottom: 0.125rem;
		display: flex;
		justify-content: center;
		gap: 0.5rem;
	}

	&__progress-item {
		width: 1rem;
		aspect-ratio: 1;
		border-radius: 0.5rem;
		background-color: #D6D6C3;
		box-shadow: inset 0.25rem 0 0.25rem #847F4C;
		cursor: pointer;

		&[data-active="true"] {
			position: relative;
			background-color: #00E800;
			filter: drop-shadow(0.125rem 0.125rem 0 #007600);
			box-shadow: unset;

			&::after {
				content: '';
				width: 0.33rem;
				aspect-ratio: 1;
				background-color: #B5FEB5;
				position: absolute;
				top: 0.125rem;
				left: 0.125rem;
				border-radius: 0.25rem;
			}
		}
	}
}
