.save-block-container {
	max-width: 100%;
	margin-top: 3rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
	align-items: center;

	@include for-size(tablet-landscape-up) {
		margin: 4rem auto 4rem;
		max-width: 38rem;
		flex-direction: row;
	}
}
