@font-face {
	font-family: "MarioFont";
	src: url("../fonts/MarioFont.otf") format("truetype");
}

@font-face {
	font-family: "SuperMarioScript";
	src: url("../fonts/SuperMarioScript.ttf") format("truetype");
}
