@import './fonts.scss';
@import './breakpoints.scss';

// components
@import './components/sectionContainer.scss';
@import './components/textLabel.scss';
@import './components/textField.scss';
@import './components/cardInset.scss';
@import './components/carousel.scss';
@import './components/saveBlockContainer.scss';
@import './components/saveBlock.scss';
@import './components/hero.scss';

html {
	scroll-behavior: smooth;
	scroll-padding: 1rem;

	@include for-size(tablet-landscape-up) {
		scroll-padding: 2rem;
	}
}

body {
	font-family: 'SuperMarioScript';
	font-size: 16px;
	background-color: #E1E1E1;
	background-image: url('./background.svg');
	background-size: 1rem;
	color: #1E1414;
	margin: 0;
	padding: 0;

	@include for-size(tablet-landscape-up) {
		background-size: 2rem;
	}
}

#app {
	height: 100vh;
}

.text-muted {
	text-align: center;
	opacity: 0.5;
	letter-spacing: 0.0625rem;
}

.text-field {
	background-image: url('./bgpattern.svg');
}
